.details-card {
  max-width: 800px;
  margin: auto;
  border-radius: 12px;
  padding: 2rem;
  margin-top: 3%;
  margin-bottom: 10%;
}

.details-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.details-card button {
  margin-top: 1rem;
}

.register-btn {
  background-color: lightgreen;
  padding: 0.6rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: transform 0.12s ease, box-shadow 0.12s ease;
}

.cancel-btn {
  background-color: lightcoral;
  padding: 0.6rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: transform 0.12s ease, box-shadow 0.12s ease;
} 
