body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background:
    linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)),
    url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30")
    center/cover no-repeat fixed;
  min-height: 100vh;
  transition: 0.3s ease;
}

body.dark-mode {
  background:
    linear-gradient(rgba(15,23,42,0.9), rgba(30,41,59,0.9)),
    url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30")
    center/cover no-repeat fixed;
}

.custom-navbar {
  background: white;
}

body.dark-mode .custom-navbar {
  background: #111827;
}

body.dark-mode .navbar-toggler {
  background-color: #4e9dec !important;
}

.nav-link {
  color: #111827 !important;
}

body.dark-mode .nav-link {
  color: #f8fafc !important;
}

.nav-link.active {
  font-weight: 600;
  color: #4f46e5 !important;
}

.card,
.create-form,
.details-card {
  background: white;
  border-radius: 12px;
  transition: 0.3s ease;
}

body.dark-mode .card,
body.dark-mode .create-form,
body.dark-mode .details-card {
  background: #1e293b;
  color: #f8fafc;
}

.create-form input,
.create-form select,
.create-form textarea {
  border: 1px solid #424243 !important;
  background: white;
  color: #111827;
}

.create-form button{
  background: #4f46e5;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}

body.dark-mode .create-form input,
body.dark-mode .create-form select,
body.dark-mode .create-form textarea {
  background: #575859;
  border: 1px solid #334155 !important;
  color: rgb(20, 20, 20);
}
body.dark-mode .create-form button {
  background: #fcfcfc;  
  color: #111827;
}
